body{
    height: 100vh;
    width: 100vw;;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}
main#front-page{
    display: flex;
    flex-direction: row;
    height: 95vh;
    width: 100vw;
}
main#front-page article{
    padding: 4.5vw;
}
main#front-page article:nth-child(1){
    background-color: azure;
}
main#front-page article:nth-child(2){
    background-color: papayawhip;
}
main#front-page article:nth-child(3){
    background-color: honeydew;
}
main#front-page article:nth-child(4){
    background-color: cornsilk;
}

header{
    display: flex;
    background-color: rgb(233, 223, 223);
    height: 10vh;
    text-align: center;
    justify-content: space-between;
    padding: 0 10px;   
}
header nav h1, header nav a, head nav div{
    display: inline-block;
    padding: 5px;
}
header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
header nav button{
    background-color: transparent;
    border: none;
}
